
.conteudo {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    padding: var(--valor-pad);
    background-color: #000;
    --raio-borda: 8px;
}

.conteudo button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 25px;
    padding: 5px 10px;
    border: none;
    border-radius: 12px;
    font-size: .8em;
    background-color: transparent;
    opacity: .8;
}

.conteudo .principal {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    width: 75vw;
    border-radius: var(--raio-borda);
    background-color: #121212;
}

.conteudo .principal .infos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;

    width: 100%;
    height: 40vh;;
    border-radius: var(--raio-borda) var(--raio-borda) 0px 0px;
    padding: 25px;
    background-image: url(../img/capas-perfil-artistas/capa-perfil-alina.webp);
    background-position-y: -100px;
    background-position-x: center;
}

/* BOTÕES PLAY E SEGUIR */
.botoes-interacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    padding: 0px 25px;
}

.botoes-interacao button.play-musica {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #1ed760;

    transition: background-color .3s;
}

.botoes-interacao button.play-musica:hover {
    background-color: #3be477;
    cursor: pointer;
}

.botoes-interacao button#seguir-btn {
    color: #fff;
    font-weight: 600;
    border: 1px solid #ffffff6c;
    transition: border-color .3s;

}

.botoes-interacao button#seguir-btn:hover {
    border-color: #fff;
    cursor: pointer;
}

/* BOTÕES PLAY E SEGUIR FIM */

/* LISTA MÚSICAS */

.tabela-secao {
    padding: 25px;
}

table.lista-musicas {
    width: 100%;
    border-collapse: collapse;
}

.lista-musicas thead {
    border-bottom: 1px #232323 solid;
    color: #b3b3b3;
    font-size: .8rem;
    font-weight: 400;
}

.lista-musicas tbody tr:hover {
    color: #fff;
    background-color: #424242;
}

.lista-musicas tr {    
    height: 54px;
    vertical-align: middle;
}

.lista-musicas .num-lista {
    position: relative;

    width: 4%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: center;
}

.lista-musicas .num-lista svg {
    position: absolute;
    top: 35%;
    left: 25%;

    fill: currentColor;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #424242;
    opacity: 0;
}

.lista-musicas td.num-lista:hover svg {
    opacity: 1;
}

.lista-musicas .musica-lista {
    width: 46%;
    text-align: start;
}

.lista-musicas .album-lista {
    width: 20%;
    text-align: start;
}

.lista-musicas .add-musica-lista,
.lista-musicas .musica-adicionada-lista {
    text-align: center;
}

.lista-musicas .add-musica-lista svg {
    fill: #b3b3b3;
    width: 16px;
    height: 16px;

    opacity: 0;
}

.lista-musicas .musica-adicionada-lista svg {
    fill: #d518ee;
    width: 16px;
    height: 16px;
}

.lista-musicas tbody tr:hover svg {
    opacity: 1;
    cursor: pointer;
}

/* LISTA MÚSICAS FIM */

/* SOBRE O ARTISTA */
.sobre {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: end;
    margin: 25px;
    border-radius: var(--raio-borda);
    padding: 10px;
    background-color: #2d2d2d;
}

.sobre h3 {
    z-index: 3;

    margin: 15px 0px;
    font-size: 1.7rem;
}

    /* DESCRIÇÃO */

.sobre .descri-foto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

    position: relative;

    width: 100%;
    height: 500px;
    border-radius: var(--raio-borda);
    box-shadow: 0px 0px 20px 15px #161616;
    transform: scale(1);
    transition: transform .5s;
}

.sobre .descri-foto img {
    position: absolute;
    z-index: 0;

    width: 100%;
    height: 100%;
    border-radius: var(--raio-borda);
    object-fit: cover;
    object-position: center;
}

.sobre .descri-foto .fundo-descricao {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

    z-index: 1;

    width: 100%;
    height: 100%;
    border-radius: var(--raio-borda);
    background-image: linear-gradient(11deg, #000, #00000077, transparent)
}

.sobre .descri-foto p {
    width: 100%;
    height: 10%;
    padding: 15px;
    text-align: start;
    backdrop-filter: blur(2px);
}

.sobre .descri-foto:hover {
    transform: scale(1.02);
}

    /* DESCRIÇÃO FIM */

    /* MIDIA INFOS */
.sobre .midia-infos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    width: 100%;
    padding: 20px 0px;
}

.sobre .midia-infos .seguidores {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sobre .midia-infos .seguidores h3 {
    margin: 0;
    font-size: 2rem;
    font-weight: 600;
}

.sobre .midia-infos .seguidores p {
    color: #b3aeae;
    font-size: .8em;
}

.sobre .midia-infos a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;

    text-decoration: none;
}

.sobre .midia-infos a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.sobre .midia-infos svg {
    fill: #fff;
    width: 18px;
    height: 18px;
}

    /* MIDIA INFOS FIM */

/* SOBRE O ARTISTA FIM */