* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(180deg, rgb(41, 41, 41), rgb(0, 0, 0));

    /* Variáveis CSS */
    --valor-pad: 8px;
}

header {
    width: 100%;
    padding: var(--valor-pad);
    background-color: #000;
}

.top-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.top-menu form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    border: 1px transparent solid;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: #1f1f1f;
    transition: background-color .3s;
}

.top-menu form:hover {
    border: 1px #363636 solid;
    background-color: #252424;
}

.top-menu form label:hover {
    cursor: pointer;
}

.top-menu form label img {
    width: 25px;
}

.top-menu form input[type="text"] {
    width: 250px;
    height: 100%;
    border: none;
    color: #fff;
    font-size: .9em;
    background-color: transparent;
}

.top-menu form input[type="text"]:focus-visible {
    outline: none;
}

.top-menu form button {
    border: none;
    border-radius: 0px;
    border-left: 1px solid #7c7c7c;
    background-color: transparent;
    opacity: .8;
}

.top-menu form button:hover {
    opacity: 1;
    cursor: pointer;
}

.conteudo {
    display: flex;
    flex-direction: row;
    gap: 10px;

    width: 100%;
    padding: var(--valor-pad);
    background-color: #000;

    /* Variáveis */
    --raio-borda: 8px;
}

.conteudo button,
.top-menu button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 25px;
    padding: 5px 10px;
    border: none;
    border-radius: 12px;
    font-size: .8em;
}

.conteudo button:hover {
    cursor: pointer;
}

.lateral-menu,
.principal {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: var(--raio-borda);
    background-color: #121212;
}

.lateral-menu {
    width: 20vw;
    padding: 10px;
}

.lateral-menu section.lateral-menu-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.lateral-menu section h3 {
    font-size: 1em;
}

.lateral-menu section.lateral-menu-content {
    display: flex;
    flex-direction: column;
    gap: 15px;

    border-radius: var(--raio-borda);
    padding: 15px;
    background-color: #1f1f1f;
}

.lateral-menu section.lateral-menu-content p {
    font-size: .8em;
}

.lateral-menu .lateral-menu-top button {
    width: 20%;
    color: #fff;
    background-color: #292929;
}

.lateral-menu .lateral-menu-content button {
    width: 45%;
    color: #000;
    background-color: #fff;
}

.principal {
    width: 80vw;
    padding: 10px 25px;
}

.principal .filter {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.principal .filter button {
    color: #fff;
    background-color: #363636;
}

.principal .albuns-titulo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.principal .albuns-titulo h1 {
    font-size: 1.25em;
}

.principal .albuns-titulo button {
    color: #b3aeae;
    background-color: transparent;
}

/* RODAPÉ */
.rodape {
    padding: 20px;
    background-color: #121212;
}

.rodape .top,
.rodape .bottom {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px #333131 solid;
    padding: 50px 10px;
    color: #b3aeae;
    font-weight: 600;
}

.rodape .top {
    justify-content: space-between;
    font-size: .95em;

    /* Variáveis */
    --btn-quadrado: 35px;
}

.rodape .top section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.rodape .top section.redes {
    flex-direction: row;
    gap: 15px;
}

.rodape .top a {
    text-decoration: none;
    color: #b3aeae;
    transition: color .2s;
}

.rodape .top p:hover {
    color: #fff;
}

.rodape .top a:hover {
    color: #fff;
    text-decoration: underline;
}

.rodape .top h4 {
    color: #fff;
}

.rodape .top button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: var(--btn-quadrado);
    height: var(--btn-quadrado);
    border: none;
    border-radius: 50%;
    background-color: #292929;
}

.rodape .top button img {
    width: calc(var(--btn-quadrado) - 50%);
    height: calc(var(--btn-quadrado) - 50%);
}

.rodape .bottom {
    justify-content: space-between;
    font-size: .8em;
}

.rodape .bottom article {
    display: flex;
    flex-direction: row;
    gap: 15px;
}