* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(180deg, rgb(41, 41, 41), rgb(0, 0, 0));
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;

}

.cabecalho {
    text-align: center;
    margin-bottom: 2rem;
    max-width: 600px;
    width: 60%;
}

.cabecalho img {
    width: 20%;
}

.conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    margin: 20px auto;
    border-radius: 10px;
    padding: 40px;
    background-color: rgb(18, 18, 18);
    max-width: 600px;
    width: 100%;
    --tamanhoInput: 110%;  
}    

.conteudo form {
        width: 60%;
}

.barra-progresso { 
    width: 100%;
    height: 4px;
    background-color: rgb(41, 41, 41);
    border-radius: 50px;
    overflow: hidden;
    margin-bottom: 2rem;
}

.porcentagem { 
    height: 100%;
    width: 33.33%;
    background-color: #d518ee;
    transition: width 0.3s;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 15vh;
    font-size: 0.75rem;
    color: rgb(255, 255, 255);
    background-color: rgb(18, 18, 18);
    line-height: 1.5;
    width: 100%;    
    margin-top: auto;
    margin-bottom: 0;        
    padding: 20px; 
}
