.conteudo {
    display: flex;
    flex-direction: row;
    gap: 10px;

    width: 100%;
    padding: var(--valor-pad);
    background-color: #000;

    /* Variáveis */
    --raio-borda: 8px;
}

.conteudo button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 25px;
    padding: 5px 10px;
    border: none;
    border-radius: 12px;
    font-size: .8em;
    background-color: transparent;
    opacity: .8;
}

.conteudo button:hover {
    cursor: pointer;
}

.principal {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: var(--raio-borda);
    background-color: #121212;
}

.principal {
    width: 75vw;
}

.principal .filter {
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 10px 25px;
}

.principal .filter button {
    color: #fff;
    background-color: #363636;
}

