.conteudo {
    display: flex;
    flex-direction: row;
    gap: 10px;

    width: 100%;
    padding: var(--valor-pad);
    background-color: #000;

    /* Variáveis */
    --raio-borda: 8px;
}

.conteudo button,
.espacoFoto .foto-botoes label[for="definir-foto-btn"] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 25px;
    padding: 5px 10px;
    border: none;
    border-radius: 12px;
    font-size: .8em;
    background-color: transparent;
    opacity: .8;
}

.conteudo button:hover {
    cursor: pointer;
}

.principal {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: var(--raio-borda);
    background-color: #121212;
}

.principal {
    width: 75vw;
}

.principal .infos {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 15px;

    width: 100%;
    border-radius: var(--raio-borda) var(--raio-borda) 0px 0px;
    padding: 25px;
    font-size: .8em;
    background-image: linear-gradient(180deg, #424242, #232323);
}

.principal .infos .espacoFoto,
.infos .espacoFoto button,
.infos .espacoFoto article#foto-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.principal .infos .espacoFoto,
.infos .espacoFoto button {
    --tamanhoFoto: 16vw;

    width: var(--tamanhoFoto);
    height: var(--tamanhoFoto);
    border-radius: 50%;
    background-color: #282828;
    cursor: default;
}

.infos .espacoFoto img {
    width: var(--tamanhoFoto);
    height: var(--tamanhoFoto);
}

.infos .espacoFoto button#definir-foto {
    position: absolute;
    z-index: 1;
    color: #fff;
    font-size: 1em;
    background-color: #000000b3;
    opacity: 0;
}

.infos .espacoFoto button#definir-foto svg {
    width: 40%;
    height: 40%;
    fill: #fff;
}

.infos .espacoFoto button#definir-foto:hover {
    opacity: 1;
}

.infos .social-editar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.infos .social-editar button#editar-perfil {
    height: 100%;
    padding: 0px;
    color: #fff;    
    font-size: 6em;
    font-weight: 600;
}

.infos .social-editar .social {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.infos .social-editar .social div {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #ffffffb3;
}

.infos .social-editar .social p {
    color: #ffffffb3;
}

.infos .social-editar .social a {
    color: #fff;
    text-decoration: none;
}

.infos .social-editar .social a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* POP UP EDITAR */
.pop-up {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;

    width: 100vw;
    height: 100vh;
    background-color: #000000b3;
}

.pop-up .aberto {
    display: flex;
}

.pop-up .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    width: 40%;
    padding: 20px;
    background-color: #282828;
}

.pop-up .container .container-top,
.pop-up .container .container-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.pop-up .container .container-top h1 {
    font-size: 24px;
}

.pop-up .container .container-top button#fechar-edicao {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.pop-up .container .container-top button#fechar-edicao:hover {
    background-color: #3d3d3d;
    cursor: default;
}

.pop-up .container .container-top svg {
    width: 16px;
    height: 16px;
    fill: #ffffffb3;
}


.container .container-content form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.container .container-content .espacoFoto,
.container-content .espacoFoto .foto-botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 14vw;
    height: 14vw;
    border-radius: 50%;
}

.container .container-content .espacoFoto {
    position: relative;
    background-color: #282828;
    box-shadow: 0px 0px 20px 8px #00000040;
}

.container-content .espacoFoto .foto-botoes {
    position: absolute;
    z-index: 4;
    color: #fff;
    font-size: 1.3em;
    background-color: #000000b3;
    opacity: 0;
}

.container-content .espacoFoto .foto-botoes svg {
    width: 48px;
    height: 48px;
    fill: #ffffffb3;
}

.container-content .espacoFoto .foto-botoes:hover {
    opacity: 1;
}

.espacoFoto article img#foto-edicao {
    width: 100%;
    height: 100%;
}

.espacoFoto .foto-botoes button {
    color: #fff;
    cursor: default;
}

.espacoFoto .foto-botoes button:hover,
.espacoFoto .foto-botoes label[for="definir-foto-btn"]:hover {
    text-decoration: underline;
}

.espacoFoto .foto-botoes input[type="file"] {
    display: none;
}

.container .container-content .input-btn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;

    position: relative;
    width: 56%;
}

.container-content .input-btn label {
    position: absolute;
    top: -6px;
    left: 10px;
    color: #ffffffb3;
    font-size: .7em;
}

.container-content .input-btn input[type="text"] {
    width: 100%;
    height: 40px;
    border: 1px transparent solid;
    border-radius: 4px;
    padding: 0 12px;
    color: #fff;
    font-size: .8em;
    background-color: #3d3d3d;
}

.container-content .input-btn input[type="text"]:focus {
    border-color: #535353;
    background-color: #333;
    outline: none;
}

.container-content .input-btn input[type="submit"] {
    width: 40%;
    height: 48px;
    border: none;
    border-radius: 40px;

    color: #000;
    font-weight: 700;
    font-size: 1rem;

    background-color: #fff;
    outline: none;
}

.container-content .input-btn input[type="submit"]:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

/* POP UP EDITAR FIM */


.principal .opcoes {
    position: relative;
    padding: 10px 25px;
}

.principal .opcoes article {
    width: 1%;
}

.principal .opcoes svg {
    width: 25px;
    height: 25px;
    fill: #fff;
    opacity: .6;
}

.principal .opcoes svg:hover {
    opacity: 1;
    cursor: pointer;
}

/* - - MENU SUSPENSO OPÇÕES - - */
.opcoes ul#opcoes-menu-suspenso {
    display: none;
    position: absolute;
    top: 120%;
    left: 4%;
    z-index: 2;

    border-radius: calc(var(--valor-pad) - 4px);
    padding: 5px;

    font-size: .9rem;
    list-style: none;

    background-color: #282828;
}

.opcoes ul#opcoes-menu-suspenso li {
    display: flex;
    align-items: center;
    gap: 10px;
    
    width: 180px;
    height: 38px;
    border-radius: calc(var(--valor-pad) - 7px);
    padding: 0px 8px;
}

.opcoes ul#opcoes-menu-suspenso li:hover {
    background-color: #3d3d3d;
}

.opcoes ul#opcoes-menu-suspenso li svg {
    width: 16px;
    height: 16px;
    fill: #656565;
    opacity: 1;
    cursor: default;
}

.opcoes ul#opcoes-menu-suspenso li svg:hover {
    cursor: default;
}

.opcoes ul#opcoes-menu-suspenso.aberto {
    display: block;
}
/* - - MENU SUSPENSO OPÇÕES FIM - - */

