a {
    text-decoration: none;
    color: currentColor;
}

.principal .cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px 25px;
}

.principal .albuns-titulo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.principal .albuns-titulo h1 {
    font-size: 1.25em;
}

.principal .albuns-titulo button,
.principal .albuns-titulo p,
.principal .albuns .card .nome-categoria .categoria {
    padding: 5px 0px;
    color: #b3aeae;
    font-size: .8em;
}

.principal .albuns-titulo button:hover {
    text-decoration: underline;
}

.principal .albuns {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.principal .albuns .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    border-radius: var(--raio-borda);
    padding: 10px;  
    background-color: #121212;

    --tamanho-img: 160px;
}

.principal .albuns .card:hover {
    background-color: #212121;
    cursor: pointer;
}

.albuns .card .card-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: var(--tamanho-img);
    height: var(--tamanho-img);
    border-radius: 50%;
    background-color: #0f0f0f;
}

.albuns .card .card-img img {
    width: calc(var(--tamanho-img) - 10px);
    height: calc(var(--tamanho-img) - 10px);
    border-radius: 50%;
    background-color: #fff;
}

.albuns .card .nome-categoria {
    align-self: flex-start;
}

.albuns .card .nome-categoria .nome {
    font-size: 1em;
    text-decoration: none;
    color: currentColor;
}

.albuns .card .nome-categoria .nome:hover,
.albuns .card .nome-categoria .categoria:hover {
    text-decoration: underline;
}