<!DOCTYPE html>
<html lang="pt-br">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style-cadUsuario.css">
    <script type="text/javascript" src="../scripts/script-cadUsuario.js"></script>
    <link rel="icon" type="image/png" sizes="96x96" href="../img/GA-Station.png">
    <title>Inscrever-se | Giana Station</title>
</head>
<body>
    <section class="conteudo">
        <section class="cabecalho"> 
            <img src="../img/GA-Station.png">
            <h1>Cadastre e comece a curtir a Giana Station</h1>
        </section>

        <form method="POST" action="" id="singup">
            <section class="form-grupo">
                <label for="email">Endereço de e-mail</label>
                <input type="email" id="email" placeholder="nome@domínio.com" required>
            </section>

            <a href="#" class="telefone">Usar número de telefone</a>

            <button type="submit" class="btn-avancar" id="cadSenha" onclick="cadastrarSenha(event)">Avançar</button> 

            <div class="linha2"></div>

            <section class="btn-conectar-space">
                <button type="button" class="btn-conectar" onclick="handleGoogleSignup()">
                    <img src="../img/logo-google.png">
                    Inscrever-se com o Google
                </button>
                
                <button type="button" class="btn-conectar" onclick="handleAppleSignup()">
                    <img src="../img/apple-logo.png">
                    Criar conta com a Apple
                </button>
            </section>
        </form>

        <section class="singin-link">
            <p>Já tem uma conta?</p>
            <p>
                <a href="../../index.html">Entrar</a>
            </p>
        </section>
    </section>

    <footer>
        <section class="rodape">
            <p>Este site é protegido pelo reCAPTCHA e está sujeito à Política de Privacidade e aos Termos de Serviço do Google.</p>
        </section>
    </footer>
</body>
</html>