<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="assets/styles/entrarStyle.css">

    <title>Giana Station</title>
</head>
<body>

    <section class="conteudo">
        <section>
            <img>
        </section>

        <h1>Insira o código de 6 dígitos enviado para a********b@l.com.</h1>
        
        <form>
            <input type="number" name="codEntrar1" id="cod_login" required>
            <input type="number" name="codEntrar2" id="cod_login" required>
            <input type="number" name="codEntrar3" id="cod_login" required>
            <input type="number" name="codEntrar4" id="cod_login" required>
            <input type="number" name="codEntrar5" id="cod_login" required>
            <input type="number" name="codEntrar6" id="cod_login" required>
            
            <button>Reenviar Código</button>

            <input type="submit" value="Entrar">
        </form>
        
        <p><a href="entrarSenha.html">Entrar com senha</a></p>
    </section>

    <footer>
        <p>© 2025 Giana Station AB</p>
    </footer>
</body>
</html>