<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../styles/entrarStyle.css">

    <title>Giana Station</title>
</head>
<body>

    <section class="conteudo">
        <section class="top">
            <a href="../../index.html"><img src="../img/back.png"></a>
        </section>

        <form>
            <h1 class="titulo">Insira o código de 6 dígitos enviado para a********b@l.com.</h1>
            <section class="codigo_btns">
                <input type="number" name="codEntrar1" id="cod1">
                <input type="number" name="codEntrar2" id="cod2">
                <input type="number" name="codEntrar3" id="cod3">
                <input type="number" name="codEntrar4" id="cod4">
                <input type="number" name="codEntrar5" id="cod5">
                <input type="number" name="codEntrar6" id="cod6">
            </section>
            
            <button id="reenviar_btn">Reenviar Código</button>

            <input type="submit" value="Entrar">
        </form>
        
        <a href="entrarSenha.html" class="linkSenha"><p>Entrar com senha</p></a>
    </section>

    <footer>
        <p>© 2025 Giana Station AB</p>
    </footer>
</body>
</html>