<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giana Station</title>

    <link rel="stylesheet" href="../style-pagInicial.css">

</head>
<body>
    <header>
        <nav class="top-menu">
            <img> <!--Ícone GianaStation-->
            <button><img></button> <!--Home-->
            <form>
                <label for="pesquisa-inicio">
                    <img> <!--Ícone Pesquisar-->
                </label>
                <input type="text" placeholder="O que você deseja ouvir?" name="pesquisa" id="pesquisa-inicio">
                <button><img></button> <!--Ícone Navegar-->
            </form>

            <button>Ver planos Premium</button>
            <button>
                <img>
                Instalar aplicativo
            </button>

            <button><img></button> <!--Notificações-->

            <button><img></button> <!--Comunidade?-->

            <button><img></button> <!--Perfil/Conta
            opção: Tornar-se parceiro (cadastrar artista) -->
        </nav>
    </header>

    <section class="conteudo">
        <aside class="lateral-menu"> <!-- Menu lateral-->
            <section class="lateral-menu-top">
                <h3>Sua Biblioteca</h3>
                <button>
                    <img>
                    Criar
                </button>
            </section>

            <section class="lateral-menu-content">
                <h3>Crie sua primeira playlist</h3>
                <p>É fácil, vamos te ajudar.</p>
                <button>Criar Playlist</button>
            </section>
        </aside>

        <section class="principal"> <!-- Principal -->
            <section class="filter"> <!--Filtro-->
                <button>Tudo</button>
                <button>Minhas Músicas</button>
                <button>Recomendadas</button>
            </section>

            <section> <!--1o Carrossel-->
                <article class="albuns-titulo">
                    <!--Título-->
                    <h1>Recomendado</h1>
                    <button>Mostrar tudo</button>
                </article>

                <section>
                    <!--Álbuns-->
                    <article>
                        <img>
                        <p></p>
                    </article>
                    
                    <article>
                        <img>
                        <p></p>
                    </article>

                    <article>
                        <img>
                        <p></p>
                    </article>

                    <article>
                        <img>
                        <p></p>
                    </article>

                    <article>
                        <img>
                        <p></p>
                    </article>

                    <article>
                        <img>
                        <p></p>
                    </article>
                </section>
            </section>
        </section>

    </section>

    <footer class="rodape">
        <section class="top">
            <section>
                <h4>Empresa</h4>
                <p>Sobre</p>
                <p>Empregos</p>
                <p>For the Record</p>
            </section>
    
            <section>
                <h4>Comunidades</h4>
                <a href=""><p>Para Artistas</p></a>
                <p>Desenvolvedores</p>
                <p>Publicidade</p>
                <p>Investidores</p>
                <p>Fornecedores</p>
            </section>
    
            <section>
                <h4>Links úteis</h4>
                <p>Suporte</p>
                <p>Aplicativo móvel grátis</p>
                <p>Popular por país</p>
                <p>Import your music</p>
            </section>
    
            <section>
                <h4>Planos do Spotify</h4>
                <p>Premium Individual</p>
                <p>Premium Duo</p>
                <p>Premium Família</p>
                <p>Premium Universitário</p>
                <p>Spotify Free</p>
            </section>
            
            <section class="redes">
                <button><img></button>
                <button><img></button>
                <button><img></button>
            </section>
        </section>

        <section class="bottom">
            <article>
                <p>Legal</p>
                <p>Segurança e Centro de privacidade</p>
                <p>Política de privacidade</p>
                <p>Cookies</p>
                <p>Sobre anúncios</p>
                <p>Acessibilidade</p>
            </article>
            
            <article class="direitos">
                <p>© 2025 Giana Station AB</p>
            </article>
        </section>
    </footer>

</body>
</html>